<md-toolbar color="accent" class="md-tall">
  <span flex></span>
  <h2 class="md-toolbar-tools">smithdev.io</h2>
</md-toolbar>
<md-nav-list>
  <a md-list-item  class="nav-link" routerLinkActive="active" routerLink="/home">
    <md-icon md-list-icon>home</md-icon>
    <h3 md-line>Home</h3>
  </a>
  <a md-list-item  class="nav-link" routerLinkActive="active" routerLink="/about">
    <md-icon md-list-icon>person</md-icon>
    <h3 md-line>About</h3>
  </a>
  <a md-list-item  class="nav-link" routerLinkActive="active" routerLink="/read">
    <md-icon md-list-icon>book</md-icon>
    <h3 md-line>Reading List</h3>
  </a>
</md-nav-list>
