<!--  We are using a sidenav, and it must wrap out content -->
<md-sidenav-container fullscreen class="mat-typography">
  <!--Mobile Navigation (Not a components because of sidenav being "special"-->
  <md-sidenav #sidenav mode="over">
    <app-sidenav></app-sidenav>
  </md-sidenav>
  <nav class="navbar fixed-top navbar-inverse bg-faded transparent-navbar" fxHide fxShow.xs fxLayoutAlign="left center">
    <div class="navbar-brand" fxLayoutAlign=" center">
      <button md-icon-button class="d-inline-block align-top" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu" >menu</i>
      </button>
      <a>smithdev</a>
    </div>
  </nav>
  <!--End Mobile Navigation-->


    <app-jumbotron></app-jumbotron>
    <app-navbar sticky sticky-parent="true"></app-navbar>
    <router-outlet></router-outlet>

</md-sidenav-container>
