<div
  class="row justify-content-center"
  id="build-better"
  lazyLoad="/assets/images/build-better-bg.jpg"
  [scrollTarget]="scrollBox">
  <div class="col-md-10">
    <div class="row content-row" fxLayoutAlign=" center">
      <div class="col-md-4 col-sm-6 push-sm-0">
        <div class="row" fxLayoutAlign="center">
          <div class="col-sm-12 col-6">
            <img
              lazyLoad="/assets/images/round_new.webp"
              [scrollTarget]="scrollBox"
              class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-md-1 col-sm-1">
        <div fxHide fxShow.xs style="height: 5rem;"></div>
      </div>
      <div class="col-md-7 col-sm-5 pull-sm-0 text-invert">
        <h2 class="mat-display-2">
          Find me online.
        </h2>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-6">
            <a href="https://github.com/VivaLaPanda" style="width: 100%">
              <button md-raised-button class="icon-button-dark">
                <div class="icon-button-contents">
                  <h2 class="icon-title">Github</h2>
                  <img class="img-fluid link-icon non-lazy" src="/assets/images/github-mark.webp">
                </div>
              </button>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-6">
            <a href="https://www.linkedin.com/in/smithdevio/" style="width: 100%">
              <button md-raised-button class="icon-button-dark">
                <div class="icon-button-contents">
                  <h2 class="icon-title">LinkedIn</h2>
                  <img class="img-fluid link-icon non-lazy" src="/assets/images/linkedin-black.webp">
                </div>
              </button>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-6">
            <a href="https://twitter.com/adriansmithdev" style="width: 100%">
              <button md-raised-button class="icon-button-dark">
                <div class="icon-button-contents">
                  <h2 class="icon-title">Twitter</h2>
                  <img class="img-fluid link-icon non-lazy" src="/assets/images/twitter.webp">
                </div>
              </button>
            </a>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <p>Or, if you prefer to get in touch with me directly, email me at <a href="mailto:adrian@smithdev.io"><span class="accent-text">adrian@smithdev.io</span></a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
