<div
  class="row justify-content-center"
  id="build-better"
  lazyLoad="/assets/images/build-better-bg.jpg"
  [scrollTarget]="scrollBox">
  <div class="col-md-10">
    <div class="row content-row" fxLayoutAlign=" center">
      <div class="col-md-4 col-sm-6 push-sm-0">
        <div class="row" fxLayoutAlign="center">
          <div class="col-sm-12 col-6">
            <img
              lazyLoad="/assets/images/round_new.webp"
              [scrollTarget]="scrollBox"
              class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-md-1 col-sm-1">
        <div fxHide fxShow.xs style="height: 5rem;"></div>
      </div>
      <div class="col-md-7 col-sm-5 pull-sm-0 text-invert">
        <h2 class="mat-display-2">
          Find me online.
        </h2>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><a href="https://github.com/VivaLaPanda/" target="_blank">GitHub</a></li>
          <li class="list-group-item list-group-item-dark"><a href="https://stackoverflow.com/users/4951118/adrian-smith" target="_blank">Stack Overflow</a></li>
          <li class="list-group-item list-group-item-dark"><a href="https://twitter.com/_vivalapanda" target="_blank">Twitter</a></li>
          <li class="list-group-item list-group-item-dark"><a href="https://www.linkedin.com/in/smithdevio/" target="_blank">LinkedIn</a></li>
          <li class="list-group-item list-group-item-dark"><a href="https://kitsu.io/users/VivaLaPanda" target="_blank">Kitsu (Anime List)</a></li>
          <li class="list-group-item list-group-item-dark"><a href="https://www.lesswrong.com/users/vivalapanda" target="_blank">LessWrong 2.0</a></li>
          <li class="list-group-item list-group-item-dark"><a href="https://steamcommunity.com/id/VivaLaPanda" target="_blank">Steam</a></li>
          <li class="list-group-item list-group-item-dark">Discord: VivaLaPanda#6386</li>
          <li class="list-group-item list-group-item-dark">Email: <a href="mailto:adrian@smithdev.io">adrian@smithdev.io</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
