<div class="row justify-content-center" id="build-better">
  <div class="col-md-10">
    <div class="row content-row" fxLayoutAlign=" center">
      <div class="col-md-4 col-sm-6 push-sm-0">
        <div class="row" fxLayoutAlign="center">
          <div class="col-sm-12 col-6">
            <img src="/assets/images/build-better-shape.png" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-md-1 col-sm-1">
        <div fxHide fxShow.xs style="height: 5rem;"></div>
      </div>
      <div class="col-md-7 col-sm-5 pull-sm-0 text-invert">
        <h2 class="mat-display-2">
          Building things <span class="accent-text">better.</span>
        </h2>
        <p class="mat-body-2">
          I am a software developer and student living in Santa Rosa, CA.
        </p>
        <p class="mat-body-2">
          I have been programming since middle school, and I see software as part of who I am.
        </p>
        <p class="mat-body-2">
          I primarily work doing full stack web development, however I also have significant experience in other
          contexts. I have professional experience in desktop application development with C#/.NET and with Java.
          I also have 2 years of experience doing research on Computer Vision with Python and Mathematica. In my
          spare time I like to work with Golang on machine learning or automation projects, or on website projects
          (like this one!)
        </p>
      </div>
    </div>
  </div>
</div>
