<div
  class="row justify-content-center"
  id="live-on-purpose"
  lazyLoad="/assets/images/living-on-purpose-blue.webp"
  [scrollTarget]="scrollBox">
  <div class="col-md-10">
    <div class="row content-row" fxLayoutAlign=" center">
      <div class="col-md-4 col-sm-6">
        <div class="row" fxLayoutAlign="center">
          <div class="col-sm-12 col-6">
            <img
              lazyLoad="/assets/images/live-on-purpose-shape.webp"
              [scrollTarget]="scrollBox"
              class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-md-1 col-sm-1">
        <div fxHide fxShow.xs style="height: 5rem;"></div>
      </div>
      <div class="col-md-7 col-sm-5">
        <h2 class="mat-display-2">
          Living on <span class="accent-text">purpose.</span>
        </h2>
        <p class="mat-body-2">
          Outside of programming I like reading, and occasionally writing, about philosophy and science. For more casual
          reading I enjoy fantasy and science fiction. You can check out my reading list here:
          <a href="/read">Reading List</a>.
        </p>
        <p class="mat-body-2">
          I participate in the <a href="https://www.gjopen.com/memberships/32814/scores">Good Judgement Open</a>
          to practice making better calibrated predictions. I also spend a fair bit of time learning Japanese, and
          see myself traveling to East Asia some time after I graduate from university. I'm always interested in learning
          new things, so I often watch MIT OpenCourseware lectures on topics outside of what I study at school.
        </p>
      </div>
    </div>
  </div>
</div>
